body {
    background-color: rgb(52, 13, 13);
    color:aliceblue;
    font-family:"Gill Sans",sans-serif;
    }
    

.button-container {
    display:flex;
    justify-content: center;
    gap:100px;
    
    }

.header {
    display:flex;
    flex-direction: column;
    align-items:center ;
    margin:0px 0px 100px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(40, 35, 35);
    font-size: 100px;
    gap:50px;
    font-family: fantasy;

}

.winner-container {
    display:flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    font-family: fantasy;
}

.button {
    width: 150px;
    height: 75px;
    padding:20px;
    background-color: rgb(175, 121, 54);
    font-size: 30px;
    border-radius: 30px;
    font-family: fantasy;
}
    

button:hover {
    transform: scale(1.2);
    background-color: rgb(209, 159, 98);
    border-color: goldenrod;
}



.score-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    gap:50px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: fantasy;
}

#result {
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
}

.tip {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: fantasy;
}

.score {
    background-color: rgb(40, 35, 35);
    padding: 10px;
}